.myui-parallax {
  transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1); /* 稍微平滑一点，但不要太滞后 */
}

.myui-parallax-bg {
  position: relative;
  z-index: 0;
}

.myui-parallax-bg-image {
  position: absolute;
  top: -50px; /* 给一些余量 */
  left: 0;
  width: 100%;
  height: 120%; /* 比容器高 */
  background-size: cover;
  background-position: center;
  z-index: -1;
  will-change: transform;
}

.myui-parallax-content {
  position: relative;
  z-index: 1;
}
