.myui-watermark-wrapper {
  position: relative;
  display: block;
}

.myui-watermark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  pointer-events: none;
  z-index: 9;
}
